/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: sans-serif;
}

/* Utils */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-purple{
  color: white;
  background-color:#8EA1E1 ;
}

.purple{
  color:#8EA1E1 ;
}


h1{
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {

  margin-bottom: 25px;
  font-size: 30px;
}

.margin-sup{
  margin-top: 40px;
}

p{
  font-size:19px;
  line-height: 30px;
}

li{
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.debug .border {
  border: 2px dashed black;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: lightgray;
}

header {
  background-color: #3161E0;
  color: white;
}

/* # Navbar */

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  padding: 10px;
  flex-basis: 20%;

}

.navbar-menu {
  flex-grow: 1;
  text-align: center;
  
}

a{
  margin: 0 15px;
  text-decoration: none;
  color: white;
  list-style-type: none;
}

.navbar-actions {
  text-align: right;
  
}

.access{
 padding: 7px 12px;
 border-radius: 10px;
 border: white;
}

/* # Jumbotron */

.jumbotron {
  padding: 50px 0;
  height: 500px;
  display: flex;
  justify-content: center;
  background-image:url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.jumbotron .content {
  width: 50%;
}

.jumbotron-text{
 text-align: center;
 padding: 20px;
}

.download, .open-discord{
  padding: 10px 15px;
  border-radius: 20px;
  border:white;
  margin:0 10px;
}

.open-discord{
  background-color: black;
  color: white;
}

.intestazione{
  margin-bottom: 20px;
}
 
/* # Main & sections */

main{
  color: black;
}

section {
  padding: 50px;
  height: 600px;
}

section > .container {
  height: 100%;
}

.flex > .small-col {
  flex-basis: 35%;
}

.flex > .large-col {
  flex-basis: 60%;
}

.flex > .full-col {
  height: 1000px;
  text-align: center;
  padding: 50px;
}

.item4{
  max-width: 100%;
}

.download .purple{
  margin-top: 20px;
}



/* # Footer */

footer {
  padding: 50px;
  background-color: #23272a;
  color: white;
}

.footer-top {
  height: 500px;
  margin-bottom: 30px;
  border-bottom: 1px solid #8EA1E1 ;

  display: flex;
}

.footer-top .footer-left {
  flex-basis: 25%;

}

.footer-top .footer-right {
  flex-basis: 75%;

}

.footer-nav {
  height: 100%;
  display: flex;
}

.footer-nav > div {
  flex-basis: 25%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}


footer li{
  list-style-type: none;
  margin :15px 0;
  text-transform: capitalize;
}


.flag{

}

.flag img{
  width: 20px;
}

.icon{
  margin-top: 15px;

}

.icon i{
  margin-right:20px;
}

.fa-angle-down{
  margin-left: 6px;
  font-size: 11px;
}

.fa-arrow-down-long{
  margin-right: 5px;
  font-size: 11px;
}